# üêç Lecture 8 ‚Äì Operators in Python
**Topics:**

Relational (Comparison) Operators

Logical Operators

Assignment Operators

## 1) Relational / Comparison Operators
Operators that compare values and return a boolean (True / False).

- `==` : equal to
- `!=` : not equal to
- `>`  : greater than
- `<`  : less than
- `>=` : greater than or equal to
- `<=` : less than or equal to

**Real-life examples**
- Is your marks >= passing_marks?
- Is product price <= your budget?

In [ ]:
# Relational Operators examples
marks = 82
passing_marks = 50
print("Did the student pass?", marks >= passing_marks)  # True

price = 1200
budget = 1500
print("Can I buy it?", price <= budget)  # True

a= 10
b= 20
print("a == b ->", a == b)
print("a != b ->", a != b)
print("a > b ->", a > b)
print("a < b ->", a < b)

## 2) Logical Operators
Combine boolean conditions:

- `and` : True if both conditions are True
- `or`  : True if at least one condition is True
- `not` : negates the condition

**Real-life examples**
- Eligible for exam: (has_roll_number AND fees_paid)
- Can buy: (have_cash OR have_credit_card)

## Truth Tables for Logical Operators

Logical operators (`and`, `or`, `not`) are used to combine or modify conditions.

---

### ‚úî AND Operator (`and`)
The result is **True only if both conditions are True**.

| A     | B     | A and B |
|-------|--------|---------|
| True  | True   | True    |
| True  | False  | False   |
| False | True   | False   |
| False | False  | False   |

---

### ‚úî OR Operator (`or`)
The result is **True if at least one condition is True**.

| A     | B     | A or B |
|-------|--------|--------|
| True  | True   | True   |
| True  | False  | True   |
| False | True   | True   |
| False | False  | False  |

---

### ‚úî NOT Operator (`not`)
The result is the **opposite of the value**.

| A     | not A |
|--------|--------|
| True   | False |
| False  | True  |

In [ ]:
age = 20
has_id = True
print("Can apply for driving license?", age >= 18 and has_id)


has_cash = False
has_card = True
print("Can buy laptop?", has_cash or has_card)


is_raining = True
print("Go outside?", not is_raining)  # False

## 3) Assignment Operators
Store/modify variable values in-place:

- `=`   : simple assignment
- `+=`  : add then assign
- `-=`  : subtract then assign
- `*=`  : multiply then assign
- `/=`  : divide then assign
- `//=` : floor divide then assign
- `%=`  : modulus then assign
- `**=` : power then assign

**Real-life examples**
- Wallet balance updated after spending: `balance -= expense`
- Add monthly salary: `balance += salary`

In [ ]:
balance = 1000
print("Initial:", balance)

balance += 500   # salary
print("After salary:", balance)

balance -= 120   # groceries
print("After groceries:", balance)

score = 10
score *= 2
print("Doubled score:", score)

Tasks & Assignments

1Ô∏è‚É£ Relational / Comparison Operators

Tasks:

Ask the user for their age and the minimum age to vote (fixed value 18). Print whether their age is equal, less, or greater than the minimum age.

Ask the user for two numbers and print whether they are equal or which one is greater.

Input marks for 3 subjects. Compare and print which subject has the highest marks.

Input the price of two products and print which product is cheaper.

2Ô∏è‚É£ Logical Operators

Tasks:

Ask the user if they have a library card (yes/no) and if they have borrowed books before (yes/no). Print the result of has_card and borrowed_before and has_card or borrowed_before.

Ask the user if today is a weekend and if it is raining. Print the result of not weekend and weekend or raining.


Input two boolean values from the user and print all three logical operations: and, or, not.

Input salary and credit_score. Print the result of (salary >= 50000 and credit_score >= 700) or salary >= 100000.

3Ô∏è‚É£ Assignment Operators

Tasks:

Start with a variable score = 10. Update it using +=, -=, *=, /= and print the value after each operation.

Input an initial bank balance from the user. Add a deposit and subtract a withdrawal using += and -=.

Create a variable points = 50. Add bonus points, subtract penalties, double the points, and divide by 2. Print after each step.

Input marks for a subject and use += to add bonus marks, then print the updated marks.

In [ ]:
# Task 1: Age Comparison
age = int(input("Enter your age: "))
min_age = 18

print("Age equal to minimum age:", age == min_age)
print("Age less than minimum age:", age < min_age)
print("Age greater than minimum age:", age > min_age)

In [ ]:
# Task 2: Compare Two Numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Are both numbers equal?", a == b)
print("Is first number greater?", a > b)
print("Is second number greater?", b > a)

In [ ]:
# Assignment 1: Highest Subject Marks
m1 = int(input("Enter marks of subject 1: "))
m2 = int(input("Enter marks of subject 2: "))
m3 = int(input("Enter marks of subject 3: "))

print("Subject 1 highest:", m1 > m2 and m1 > m3)
print("Subject 2 highest:", m2 > m1 and m2 > m3)
print("Subject 3 highest:", m3 > m1 and m3 > m2)

In [ ]:
# Assignment 2: Cheaper Product
p1 = float(input("Enter price of product 1: "))
p2 = float(input("Enter price of product 2: "))

print("Product 1 is cheaper:", p1 < p2)
print("Product 2 is cheaper:", p2 < p1)
print("Both are equal:", p1 == p2)

In [8]:
# Task 1: Library Card
has_card = input("Do you have a library card? (yes/no): ")
borrowed = input("Have you borrowed before? (yes/no): ")

has_card_bool = has_card == "yes"
borrowed_bool = borrowed == "yes"

print("AND result:", has_card_bool and borrowed_bool)
print("OR result:", has_card_bool or borrowed_bool)

In [ ]:
# Task 2: Weekend & Raining
weekend = input("Is it weekend? (yes/no): ")
raining = input("Is it raining? (yes/no): ")

weekend_bool = weekend == "yes"
raining_bool = raining == "yes"

print("NOT weekend:", not weekend_bool)
print("Weekend OR raining:", weekend_bool or raining_bool)

In [ ]:
# Assignment 1: Boolean Inputs
b1 = input("Enter first value (yes/no): ") == "yes"
b2 = input("Enter second value (yes/no): ") == "yes"

print("AND:", b1 and b2)
print("OR:", b1 or b2)
print("NOT first value:", not b1)

In [ ]:
# Assignment 2: Salary + Credit Score
salary = int(input("Enter salary: "))
credit_score = int(input("Enter credit score: "))

result = (salary >= 50000 and credit_score >= 700) or salary >= 100000
print("Loan eligibility:", result)

In [ ]:
# Task 1: Score Updates
score = 10
score += 5
print("After += :", score)

score -= 3
print("After -= :", score)

score *= 2
print("After *= :", score)

score /= 2
print("After /= :", score)

In [ ]:
# Task 2: Bank Balance
balance = float(input("Enter initial bank balance: "))
deposit = float(input("Enter deposit amount: "))
withdraw = float(input("Enter withdrawal amount: "))

balance += deposit
balance -= withdraw

print("Updated balance:", balance)

In [ ]:
# Assignment 1: Points
points = 50
points += 20
print("After adding bonus:", points)

points -= 10
print("After subtracting penalty:", points)

points *= 2
print("After doubling:", points)

points /= 2
print("After dividing by 2:", points)

In [ ]:
# Assignment 2: Marks Update
marks = int(input("Enter marks: "))
bonus = int(input("Enter bonus marks: "))

marks += bonus
print("Updated marks:", marks)